body {
  font-family: 'Abel', sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.6;

}

h1 {
  font-weight: 700;
  font-size: 80px;
}

* {
  text-align: center;
  margin-top: 80px;
}
